#!/usr/bin/env bash
#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Fall Lewis YOMBA
#  Date: 2021-02-25 10:10:53 +0000 (Thu, 25 Feb 2021)
#
#  https://github.com/fallewi/Kubernetes-configs
#
#  License: see accompanying Fall Lewis YOMBA LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/fall-lewis-yomba-034589123
#

# ============================================================================ #
#                       K u b e r n e t e s   D i r e n v
# ============================================================================ #

set -euo pipefail
[ -n "${DEBUG:-}" ] && set -x

NAMESPACE="external-secrets"

. ../../.envrc
